<main class="container">
  <h1 class="text-center">About</h1>
  <hr/>
  <section class="row">
	<figure class="col-sm-4 portrait">
	  <%= image_tag "colin.jpg" %>
	</figure>

	<div class="col-sm-8">
	  <h2>Yep, that's me...</h2>
	  <p class="lead">Other than stepping <strong>into the boxing ring</strong> for some sparring a few times a month, I fit just about every stereotype of a standard web-developer.  I'm addicted to coffee, drive a Civic, and have a well thought-out argument for why Battlestar is far superior to both Star Wars and Star Trek.  I'm married with two dogs and live in Gretna, LA - just accross the Mississippi River from New Orleans.</p>

	  <aside>
		<h3>The places with the best chow:</h3>
		<ol>
		  <li><a href="http://www.emerilsrestaurants.com/emerils-new-orleans">Emeril's</a></li>
		  <li>Cochon</li>
		  <li>Midway Pizza</li>
		</ol>
	  </aside>
	</div>
  </section>
</main>
