<main class="container">
  <div class="row">
	<div class="col-sm-8 col-sm-push-2">
	  <h1 class="text-center">Contact</h1>
	  <hr/>
	  <form action="#" method="GET" class="responsive-form">

		<div class="row">
		  <div class="col-sm-6">
			<label class="control-label" for="first_name">First Name</label>
			<input type="text" name="first_name" id="first_name" class="form-control"/>
		  </div>

		  <div class="col-sm-6">
			<label class="control-label" for="last_name">Last Name</label>
			<input type="text" name="last_name" id="last_name"  class="form-control"/>
		  </div>
		</div>

		<label for="email" class="control-label">Email</label>
		<input type="email" name="email" id="email" class="form-control"/>

		<label for="msg" class="control-label">Message</label>
		<textarea name="msg" id="msg" rows="10" class="form-control"></textarea>

		<button type="submit" id="submit-button" class="btn btn-success">Submit!</button>
	  </form>
	</div>
  </div>
</main>
